### These files should get ignored no matter where they appear.

# Editors leave these lying around
\#*\#
.#*
*~
*.swp

# C stuff
*.o

# Windows stuff
*.obj
*.exe
*.lib

# Patch leaves these lying arround
*.orig
*.rej

# gcov stuff
*.gcno
*.gcov
*.gcda

# ctags stuff
TAGS

# Python stuff
*.pyc
*.pyo

# http://bazel.io/ stuff
/bazel-*
/third_party
/tools

# update.py stuff
/openbsd

# Misc
*.tar.gz
.gitmodules
